p,div,h1,h2,h3,h4,h5,h6,span,ul,li,dl,dd,dt,ol{
	margin:0;
	padding:0;
}
.s-menu{
	list-style:none;
	background:#ff3333;
	line-height:40px;
	margin-top:-5px;
	color:#fff;
	display:flex;
	overflow: auto;
	white-space:nowrap;
}
.s-menu li{
	display:inline-block;
	padding: 0 5px;
	
}
::-webkit-scrollbar{
	display:none;
}

.s-img1{
	width:120px;
	height:24px;
}
.s-img2{
	width:100%;
	box-shadow: 0px -3px 15px rgba(0,0,0,0.3);
}
.s-pic1{
	width:100%;
}
.s-news-title{
	background:#efefef;
	line-height: 20px;
	margin-top:-4px;
	color:#333;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:left;
	font-size:17px;
}
.s-pic2{
	width:25%;
	margin-top:15px;
	margin-left:20px;
	margin-right:15px;
	float:left;
}
.s-news-content{
	height:100px;
	background:#f9f9f9;
	text-align:left;
}
.s-pic3{
	width:5%;
}
.s-news-contant0-p1{
	color:#333;
	padding-top:15px;
	padding-right:15px;
}
.s-news-contant0-p1>a{
	text-decoration:none;
	color:#333;
}
.s-news-contant0-p2{
	margin-top:10px;
}
.s-news-contant0-p2 span{
	font-size:12px;
	color:#666;
}
.s-news-contant0-p2 span:nth-child(2){
	padding-left:3%;
}
.s-news-contant0-p2 span:nth-child(4){
	padding-left:2%;
}
.s-news-contant0-p2 img{
	padding-left:27%;
	position: relative;
	top:6px;
}
